body {
    font-family: 'Open Sans', sans-serif;
  }
  main {
    width: 600px;
    margin: 0 auto;
  }
  .newsletter_form{
    color: #666666;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px;
  }
  input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    background: #3CB878;
    border: 0;
    color: white;
    height: 30px;
    margin: 0 0 10px;
    cursor: pointer;
  }
  .newsletter_form h2 {
    margin-top: 0;
  }  
  a{
    color:red
  }
    a:visited{
      color: #3CB878;
    }
  .exit_button {
    position: absolute;
    top: 3px;
    right:10px;
  }
  .question_button {
    position:fixed;
    bottom: 10px;
    right: 10px;
    background: #3CB787;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    color: white;
    z-index: 10;
    cursor: pointer;
  }
  
  .key_features {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }
  
  .feature {
    background: #3CB787;
    padding: 20px;
    margin: 10px 0;  
  }
  .feature p {
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:0;
    text-align: center;
    }
  